{:paths ["src/main"]
 :tasks {test:clj     {:doc  "Run clj tests"
                       :task (clojure "-M:clj-1.11.4:test -m kaocha.runner --reporter" "kaocha.report/dots")}

         test:watch   {:doc  "Run clj tests and watch for changes"
                       :task (clojure "-X:clj-1.11.4:test:watch-test")}

         build:jar    {:doc  "Build JAR distribution"
                       :task (clojure "-T:build build")}

         build:deploy {:doc  "Build and deploy to Clojars"
                       :task (clojure "-T:build deploy")}

         outdated     {:doc  "Check for outdated deps"
                       :task (clojure "-M:outdated")}}}

