{:paths   ["src/main"]
 :deps    {org.clojure/clojure {:mvn/version "1.12.0-beta1"}
           metosin/jsonista    {:mvn/version "0.3.8"}
           cheshire/cheshire   {:mvn/version "5.13.0"}}

 :aliases {:dev   {:extra-paths ["src/dev"]
                   :extra-deps  {nrepl/nrepl                 {:mvn/version "1.1.1"}
                                 cider/cider-nrepl           {:mvn/version "0.47.1"}
                                 org.clojure/tools.namespace {:mvn/version "1.5.0"}}}

           :build {:paths ["src/build"]
                   :deps  {io.github.clojure/tools.build {:git/tag "v0.9.6"
                                                          :git/sha "8e78bcc"}}}}}
